* {
  box-sizing: border-box;
}

html, body, .landing {
  height: 100%;
  margin:0;
  font-family: 'EB Garamond', serif;
  background-color: #F8F8F7;
  color: #131313;
} 

body {
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 820px;
  margin: 0 auto;
  padding: 20px;
}

.download {
  font-size: 1.1rem;
  text-decoration: none;
  color: inherit;
  border: 1px solid black;
  padding: 1rem;
}

footer {
  text-align: center;
  padding: .4rem;
}
footer ul {
  margin: 0;
}

footer li {
  display: inline;
}

footer li:not(:first-child)::before {
  content: "";
  margin-left:.3rem;
  margin-right:.4rem;
}